<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Login Project</title>
</head>
<body>
    <nav>
        <h4>Login Project</h4>
        <ul>
            <li><a href='/'>Home</a></li>
            {{#if user}}
                <li><a href='/profile'>Profile</a></li>
                <li><a href='/auth/logout'>Logout</a></li>
            {{else}}
                <li><a href='/login'>Login</a></li>
                <li><a href='/register'>Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Login Project</h1>
            <p class="lead">This is a simple project made with a created database, Node.js and MySQL</p>
            <hr class="my-4">
            <p>To test the project, please register your user and notice you'll find in the <i>navbar</i> a profile page of your own.</p>
            <p>Click on the profile to make sure you are subscribed, and check if the information there is correct.</p>
            <p>After making sure the profile page is fine, you can logout of your account.</p>
            <p>Once you do it, the system will redirect you to login again.</p>
            <p>And that's it, our login system is working! Happy testing!</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>
